<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao BlogApp</h1>
  <p class="lead">Um App de Blog feito em NodeJs</p>
  <hr class="my-4">
  <p>Junte-se a nós</p>
  <a class="btn btn-primary btn-lg" href="/users/register" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes</h2>

{{#each posts}}
<div class="card">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/posts/{{slug}}"><button class="btn btn-success">Leia mais...</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        <small>Data de publicação: {{date}}</small>        
    </div>
</div>
{{else}}
<h5>Ainda não temos nenhuma postagem.</h5>
{{/each}}