<h1>{{category.nome}}</h1>
{{#each posts}}
<div class="card">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/posts/{{slug}}"><button class="btn btn-success">Leia mais...</button></a>
        <hr>        
        <small>Data de publicação: {{date}}</small>        
    </div>
</div>
{{else}}
<h5>Ainda não temos nenhuma postagem.</h5>
{{/each}}